<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <!-- 数据库常量配置 -->
    <!--<bean id="preServiceDaoPropertyConfig"-->
    <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="order" value="1"/>-->
    <!--<property name="ignoreUnresolvablePlaceholders" value="true"/>-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:properties/db.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->


    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@111.1.1.235:1521:ora10g"/>
        <property name="username" value="tpos"/>
        <property name="password" value="tpos"/>
        <property name="maxActive" value="30"/>
        <property name="maxIdle" value="30"/>
        <property name="maxWait" value="10"/>
        <property name="testOnBorrow" value="true"/>
    </bean>
    -->

    <!--<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>-->

    <!-- config dbcp datasource -->
    <bean id="userDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://192.168.15.200:3309/wdzj_website_2?useUnicode=true&amp;characterEncoding=UTF-8&amp;useCompression=true&amp;useServerPrepStmts=false&amp;rewriteBatchedStatements=true"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <!-- 初始化连接 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池的最大活动个数 -->
        <property name="maxActive" value="100"/>
        <!-- 超时等待时间以毫秒为单位 -->
        <property name="maxWait" value="1000"/>
        <!-- 没有人用连接的时候，最大闲置的连接个数 -->
        <property name="maxIdle" value="100"/>
        <!-- 没有人用连接的时候，最小闲置的连接个数 -->
        <property name="minIdle" value="0"/>
        <!-- 是否自动回收超时连接 -->
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="2000"/>
        <!-- Hibernate超时验证 -->
        <property name="logAbandoned" value="true"/>
        <property name="validationQuery" value="select 1 from dual"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- 下面定义了DbUtils的一个模板操作Bean -->
    <bean id="userTemplate" class="com.yanerwu.common.DbUtilsTemplate">
        <property name="dataSource" ref="userDataSource"/>
    </bean>


</beans>