<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	"
        xmlns="http://www.springframework.org/schema/beans">

    <!-- 用于使用@ResponseBody后返回中文避免乱码 必须放在<mvc:annotation-driven>之前 -->
    <bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean
                        class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                            <value>text/html;charset=UTF-8</value>
                            <value>applicaiton/javascript;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>
                            <value>application/x-www-form-urlencoded;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <task:annotation-driven/>

    <mvc:annotation-driven/>
    <context:annotation-config/>
    <context:component-scan base-package="com.wdzj"/>


    <!-- freemarker -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="com.wdzj.MyFreeMarkerView"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="prefix" value="/WEB-INF/"/>
        <property name="cache">
            <value>true</value>
        </property>
        <property name="suffix">
            <value>.ftl</value>
        </property>
        <property name="contentType">
            <value>text/html; charset=UTF-8</value>
        </property>
        <property name="order" value="1"/>
    </bean>

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath">
            <value>/</value>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="default_encoding">utf-8</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>

    <mvc:interceptors>
        <!-- 后台拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/admin/**" />
            <mvc:mapping path="/fast/**" />
            <bean class="com.wdzj.AdminLoginInterceptor"></bean>
        </mvc:interceptor>

    </mvc:interceptors>


</beans>